<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Wanderlust</title>

    <!-- css-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}" />

    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    <!-- fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('js/modernizer.js') }}"></script>
</head>

<body>
    <div id="page">
        <div id="actualites" class="">
            <nav class="navbar navbar-fixed-top desktop">
                <a href="#" class="logo"></a>
                <ul>
                    <li class="uppercase"><a href="{{ path('index') }}" class="no_bg">accueil</a>
                    </li>
                    <li class="uppercase"><a href="#">voyages</a>
                    </li>
                    <li class="uppercase"><a href="#">carnets de voyages</a>
                    </li>
                    <li class="uppercase"><a href="{{ path('actualites') }}">actualités</a>
                    </li>
                    <li class="uppercase"><a href="#">contact</a>
                    </li>
                    <li class="uppercase"><a href="{{ path('connexion_utilisateur') }}" class="btn_connexion no_bg">connexion</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </nav>

            <nav class="navbar navbar-fixed-top mobile">
                <a href="#menu" id="toggle"><span></span></a>
                <div class="clearfix"></div>
                <ul>
                    <li class="uppercase"><a href="#" class="no_bg">accueil</a>
                    </li>
                    <li class="uppercase"><a href="#">voyages</a>
                    </li>
                    <li class="uppercase"><a href="#">carnets de voyages</a>
                    </li>
                    <li class="uppercase"><a href="#">actualités</a>
                    </li>
                    <li class="uppercase"><a href="#">contact</a>
                    </li>
                    <li class="uppercase"><a href="#" class="btn_connexion no_bg">connexion</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </nav>


            <!-- Travel Magazine -->
            <section class="magazine">
                <!-- Magazine Content -->
                <div class="container">
                    <div class="magazine-cn">
                        <div class="row">
                            <!-- Magazine Descript -->
                            <div class="col-lg-6">
                                <div class="magazine-ds">
                                    <div id="owl-magazine-ds">
                                        <!-- Magazine Descript Item -->
                                        <div class="magazine-item">
                                            <div class="magazine-header">
                                                <h2>La fête de la Holi en Inde</h2>
                                                <ul>
                                                    <li>by <a href="" title="">Admin</a>
                                                    </li>
                                                    <li>1er Mars 2015</li>
                                                </ul>
                                                <hr class="hr">
                                            </div>
                                            <div class="magazine-body">
                                                <p>
                                                    Chaque année, Holi est fêtée partout en Inde, du Nord au Sud, ainsi que par les communautés indiennes à l’étranger. Cette fête religieuse hindoue, qui marque la fin de l’hiver et le début du printemps, est célébrée au cours de la pleine lune du mois de Phâlguna (février-mars) pendant deux jours.
                                                </p>
                                                <p>
                                                    Le jour de Holi, tout le monde se jette des poudres et de l’eau colorées dessus. Cette année en 2012, Holi a eu lieu les 8 et 9 mars, c'est donc tout récent. Et comme d'habitude, une profusion de couleur a été déversée.
                                                </p>
                                                <p>
                                                    Plusieurs légendes sont à l'origine de cette fête. La plus répandue est l'histoire du roi Hiranyakashipu qui régnait en despote, semant le trouble autour de lui.
                                                    <br> Fier et arrogant, il exigeait que tout le monde se prosterne à ses pieds. Malheureusement pour lui, son propre fils Prahlad lui préférait le dieu Vishnull.
                                                </p>

                                            </div>
                                            <hr class="hr">
                                            <div class="magazine-footer clearfix">
                                                <div class="post-share magazine-share float-left">
                                                    <a href="" title=""><i class="fa fa-facebook"></i></a>
                                                    <a href="" title=""><i class="fa fa-twitter"></i></a>
                                                    <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                                </div>
                                                <a href="" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">Lire l'article</a>
                                            </div>
                                        </div>
                                        <!-- End Magazine Descript Item -->
                                        <!-- Magazine Descript Item -->
                                        <div class="magazine-item">
                                            <div class="magazine-header">
                                                <h2>Les loups de mongolie</h2>
                                                <ul>
                                                    <li>by <a href="" title="">Admin</a>
                                                    </li>
                                                    <li>27.02.2015</li>
                                                </ul>
                                                <hr class="hr">
                                            </div>
                                            <div class="magazine-body">
                                                <p>
                                                    Les tigres et les ours sont des animaux qui chassent en solitaires. On peut les « dompter », du moins les « imprégner » : ils penseront alors que le dresseur est leur papa. </p>
                                                <p>
                                                    Les loups sont plus dangereux, plus entêtés, ils n’écoutent que leur chef de meute. On a très tôt compris qu’il fallait prendre des loups dès leur naissance et les habituer au son de la voix humaine.
                                                </p>

                                                <p>
                                                    C’est la première fois que des loups de Mongolie ont dû être imprégnés pour le cinéma. On ne savait pas si ça allait marcher, mais je voulais absolument des loups mongols, qui sont d’un pelage un peu brun, la couleur dominante de la steppe de septembre à juin.Ils ont été nourris au biberon par nos éleveurs. Ces loups sont aujourd’hui au Canada, car ils sont devenus.. anglophones !
                                                </p>
                                            </div>
                                            <hr class="hr">
                                            <div class="magazine-footer clearfix">
                                                <div class="post-share magazine-share float-left">
                                                    <a href="" title=""><i class="fa fa-facebook"></i></a>
                                                    <a href="" title=""><i class="fa fa-twitter"></i></a>
                                                    <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                                </div>
                                                <a href="" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">Lire l'article</a>
                                            </div>
                                        </div>
                                        <!-- End Magazine Descript Item -->
                                        <!-- Magazine Descript Item -->
                                        <div class="magazine-item">
                                            <div class="magazine-header">
                                                <h2>Le voyage du sable</h2>
                                                <ul>
                                                    <li>by <a href="" title="">Admin</a>
                                                    </li>
                                                    <li>24.02.2015</li>
                                                </ul>
                                                <hr class="hr">
                                            </div>
                                            <div class="magazine-body">
                                                <p>
                                                    Malgré les milliers de kilomètres qui les séparent, le désert du Sahara et la forêt amazonienne sont liés : chaque année, un cycle naturel transporte du continent africain au continent sud-américain des millions de tonnes de sable. Un apport dont a besoin la plus grande forêt équatoriale du monde pour s'épanouir.
                                                </p>
                                                <p>
                                                    Il s'agit de la première quantification du transport transatlantique de cet élément chimique sur plus de 4.000 km, de l'Afrique vers l'Amérique du Sud.
                                                </p>

                                                <p>
                                                    Parce qu'elle se développe sur un sol pauvre, la forêt amazonienne voit sa productivité limitée par la disponibilité des nutriments comme le phosphore
                                                    <br> En outre, les fortes précipitations accentuent chaque année la privation des sols de ces éléments.
                                                </p>
                                            </div>
                                            <hr class="hr">
                                            <div class="magazine-footer clearfix">
                                                <div class="post-share magazine-share float-left">
                                                    <a href="" title=""><i class="fa fa-facebook"></i></a>
                                                    <a href="" title=""><i class="fa fa-twitter"></i></a>
                                                    <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                                </div>
                                                <a href="" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">Lire l'article</a>
                                            </div>
                                        </div>
                                        <!-- End Magazine Descript Item -->
                                        <!-- Magazine Descript Item -->
                                        <div class="magazine-item">
                                            <div class="magazine-header">
                                                <h2>La découverte d'une nouvelle île</h2>
                                                <ul>
                                                    <li>by <a href="" title="">Admin</a>
                                                    </li>
                                                    <li>01.04.2015</li>
                                                </ul>
                                                <hr class="hr">
                                            </div>
                                            <div class="magazine-body">
                                                <p>
                                                    Qui n'a pas rêvé d'explorer le premier une île déserte ? Qui plus est, une île... nouvelle. C'est ce qu'ont fait Gianpiero Orbassano et deux de ses amis, dans l'archipel des Tonga, dans le Pacifique.
                                                </p>
                                                <p>
                                                    Gérant d'un hôtel dans la capitale Nuku'alofa et ancien photographe professionnel, l'Italien s'est lancé à la conquête d'une île sortie des eaux en janvier à environ 65 kilomètres de là, après l'éruption du volcan Hunga Tonga, rapporte le site tongien Matangi Tonga.
                                                </p>

                                                <p>
                                                    L'île, volcanique elle aussi, mesure près de 500 mètres de diamètre et culmine à 250 mètres d'altitude. Les explorateurs en herbe y ont découvert un lac de soufre, à l'eau toxique et de couleur verte.l'équipe de chercheurs estime que ces pertes en phosphore sont compensées par les dépôts naturels de poussières.
                                                </p>
                                            </div>
                                            <hr class="hr">
                                            <div class="magazine-footer clearfix">
                                                <div class="post-share magazine-share float-left">
                                                    <a href="" title=""><i class="fa fa-facebook"></i></a>
                                                    <a href="" title=""><i class="fa fa-twitter"></i></a>
                                                    <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                                </div>
                                                <a href="" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">Lire l'article</a>
                                            </div>
                                        </div>
                                        <!-- End Magazine Descript Item -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Magazine Descript -->
                            <!-- Magazine Thumnail -->
                            <div class="col-lg-6">
                                <div class="magazine-thum" id="magazine-thum">
                                    <!--Thumnail Item-->
                                    <div class="thumnail-item active clearfix_slide">
                                        <figure class="float-left">
                                            <img src="{{ asset('images/img-1.jpg') }}" alt="">
                                        </figure>
                                        <div class="thumnail-text">
                                            <h4>La Holi en Inde</h4>
                                            <span>01.03.2015</span>
                                        </div>
                                    </div>
                                    <!--End Thumnail Item-->
                                    <!--Thumnail Item-->
                                    <div class="thumnail-item clearfix_slide clearfloat">
                                        <figure class="float-left">
                                            <img src="{{ asset('images/img-2.jpg') }}" alt="">
                                        </figure>
                                        <div class="thumnail-text">
                                            <h4>Les loups de mongolie</h4>
                                            <span>27.02.2015</span>
                                        </div>
                                    </div>
                                    <!--End Thumnail Item-->
                                    <!--Thumnail Item-->
                                    <div class="thumnail-item clearfix_slide clearfloat">
                                        <figure class="float-left">
                                            <img src="{{ asset('images/img-3.jpg') }}" alt="">
                                        </figure>
                                        <div class="thumnail-text">
                                            <h4>Le voyage du sable</h4>
                                            <span>24.02.2015</span>
                                        </div>
                                    </div>
                                    <!--End Thumnail Item-->
                                    <!--Thumnail Item-->
                                    <div class="thumnail-item clearfix_slide clearfloat">
                                        <figure class="float-left">
                                            <img src="{{ asset('images/img-4.jpg') }}" alt="">
                                        </figure>
                                        <div class="thumnail-text">
                                            <h4>La découverte d'une île</h4>
                                            <span>01.04.2015</span>
                                        </div>
                                    </div>
                                    <!--End Thumnail Item-->
                                </div>
                            </div>
                            <!-- End Magazine Thumnail -->
                        </div>
                    </div>
                </div>
                <!-- End Magazine Content -->
            </section>
            <!-- End Travel Magazine -->

            <div class="clearfix"></div>
            <div class="actualites">
                <div class="col-xs-12 col-sm-8 col-md-8 articles">

                    <div class="btn_themes">
                        <a href="#" class="bt_filtre decouverte">
                        Découverte
                    </a>
                        <a href="#" class="bt_filtre ecologie">
                       Ecologie
                    </a>
                        <a href="#" class="bt_filtre culture">
                       Culture
                    </a>
                        <a href="#" class="bt_filtre conflits">
                       Conflits
                    </a>
                        <a href="#" class="bt_filtre technologie">
                       Technologie
                    </a>
                        <a href="#" class="bt_filtre sante">
                       Santé
                    </a>
                    </div>
                    <!-- 1er actu -->
                    <div class="col-xs-12 col-sm-12 col-md-12 bloc_actu">
                        <img src="{{ asset('images/actu01.jpg') }}" alt="" class="col-xs-12 col-sm-4 col-md-4" />
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="col-md-12 ligne">
                                <h4>Une nouvelle île</h4>
                                <p class="date">19 Mars 2015</p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 ligne">
                                <a href="#" class="bt_filtre decouverte">
                               Découverte
                            </a>
                                <a href="#" class="comm">4 commentaires</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-md-12 extrait">
                                Plus de deux mois après son apparition dans cet archipel de l’océan Pacifique, l'île volcanique a été pour la première fois explorée par le gérant d’un hôtel et deux de ses amis qui n'ont pas résisté à l'idée de faire partager lesimages paradisiaques de leur visite.
                                <br/>
                                <a href="#" class="lire_article">
                                Lire l'article <i class="fa fa-angle-double-right"></i>
                            </a>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <!-- 2eme actu -->
                    <div class="col-xs-12 col-sm-12 col-md-12 bloc_actu">
                        <img src="{{ asset('images/actu02.jpg') }}" alt="" class="col-xs-12 col-sm-4 col-md-4" />
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="col-md-12 ligne">
                                <h4>Le voyage du sable</h4>
                                <p class="date">16 Mars 2015</p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 ligne">
                                <a href="#" class="bt_filtre ecologie">
                               Ecologie
                            </a>
                                <a href="#" class="comm">17 commentaires</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-md-12 extrait">
                                Une étude de la NASA dévoile le voyage que fait le sable porté par le vent, du désert du Sahara à la forêt amazonienne. Chaque année, près de 182 millions de tonnes de sable s'envolent et traversent l'Atlantique...
                                <br/>
                                <a href="#" class="lire_article">
                                Lire l'article <i class="fa fa-angle-double-right"></i>
                            </a>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />


                    <!-- 3eme actu -->
                    <div class="col-xs-12 col-sm-12 col-md-12 bloc_actu">
                        <img src="{{ asset('images/actu03.jpg') }}" alt="" class="col-xs-12 col-sm-4 col-md-4" />
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="col-md-12 ligne">
                                <h4>Les loups de mongolie </h4>
                                <p class="date">02 Mars 2015</p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 ligne">
                                <a href="#" class="bt_filtre culture">
                               Culture
                            </a>
                                <a href="#" class="comm">6 commentaires</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-md-12 extrait">
                                C’est la première fois que des loups de Mongolie ont dû être imprégnés pour le cinéma. «On ne savait pas si ça allait marcher, mais je voulais absolument des loups mongols, qui sont d’un pelage un peu brun, la couleur dominante de la steppe de septembre à juin....»
                                <br/>
                                <a href="#" class="lire_article">
                                Lire l'article <i class="fa fa-angle-double-right"></i>
                            </a>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />

                    <!-- 4eme actu -->
                    <div class="col-xs-12 col-sm-12 col-md-12 bloc_actu">
                        <img src="{{ asset('images/actu04.jpg') }}" alt="" class="col-xs-12 col-sm-4 col-md-4" />
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="col-md-12 ligne">
                                <h4>Accroissement des réfugiés </h4>
                                <p class="date">27 Fév. 2015</p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 ligne">
                                <a href="#" class="bt_filtre conflits">
                               Conflits
                            </a>
                                <a href="#" class="comm">28 commentaires</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-md-12 extrait">
                                L’ONG de défense des droits humains fait savoir que l’année a été caractérisée par une intensification des conflits et un accroissement du nombre de réfugiés dans le monde. Le Haut-Commissariat des Nations unies estimait déjà à 50 millions de personnes réfugiées, demandeurs d’asile ou déplacées à l’intérieur de leur pays depuis la fin de la seconde guerre mondiale.
                                <br/>
                                <a href="#" class="lire_article">
                                Lire l'article <i class="fa fa-angle-double-right"></i>
                            </a>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />


                    <!-- 5eme actu -->
                    <div class="col-xs-12 col-sm-12 col-md-12 bloc_actu">
                        <img src="{{ asset('images/actu05.jpg') }}" alt="" class="col-xs-12 col-sm-4 col-md-4" />
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="col-md-12 ligne">
                                <h4>Voyagez en jouant  </h4>
                                <p class="date">20 Fév. 2015</p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 ligne">
                                <a href="#" class="bt_filtre technologie">
                               Technologie
                            </a>
                                <a href="#" class="comm">25 commentaires</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-md-12 extrait">
                                Last Voyage met un peu de côté les vaisseaux de guerre rutilants de ce type d'univers pour aborder un thème spécifique : "ce qui s'étend au delà de la culture humaine et de la technologie". Alors que les mécaniques de jeu changent au fil des chapitres, le style graphique passera lui aussi à travers
                                <br/> plusieurs genres...
                                <br/>
                                <a href="#" class="lire_article">
                                Lire l'article <i class="fa fa-angle-double-right"></i>
                            </a>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 right_block">
                    <div class="col-xs-12 col-sm-8 col-md-8 bloc_newsletter">
                        <p><span>Inscrivez vous à notre newsletter 
                    gratuite dès maintenant !</span> Recevez chaque mois les actualités, les carnets de voyage et les sélections de voyage Wanderlust
                        </p>

                        <form class="newsletter_inscription">
                            <input type="text" class="newsletter_input" value="" placeholder="Entrez votre email" />
                            <input type="submit" class="btn_inscription" value="S'inscrire" />
                        </form>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-8 new_voyage">
                        <p>
                            <span>
                               Découvrez le nouveau voyage 
exceptionnel Wanderlust !
                            </span> Traversée du Sahara accompagnée de nomades
                        </p>
                        <img src="{{ asset('images/voyage-nomade.jpg') }}" alt="" />
                        <a href="#" class="voir_suite">Voir ce carnet&nbsp;<i class="fa fa-angle-double-right"></i></a>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-8 new_carnet">
                        <p>
                            <span>
                                Découvrez le carnet de voyage 
Wanderlust le plus consulté ce 
mois-ci !
                            </span> Mon voyage au Machu Pichu
                            <a href="#">Maya Petipre</a>
                        </p>
                        <img src="{{ asset('images/new_carnet.jpg') }}" alt="" />
                        <a href="#" class="voir_suite">Voir ce carnet&nbsp;<i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="bloc_numerotation">
                    <a href="#">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <footer>
            <a href="#" class="fleche_top"></a>
            <ul class="footer_liens col-md-4 col-sm-3">
                <li><a href="#" class="uppercase white">accueil</a>
                </li>
                <li><a href="#" class="uppercase white">voyages</a>
                </li>
                <li><a href="#" class="uppercase white">carnets de voyages</a>
                </li>
                <li><a href="#" class="uppercase white">actualité</a>
                </li>
                <li><a href="#" class="uppercase white">contact</a>
                </li>
                <li><a href="#" class="uppercase white">connexion</a>
                </li>
            </ul>
            <ul class="footer_liens col-md-4 col-sm-3">
                <li><a href="#" class="uppercase white">nos valeurs</a>
                </li>
                <li><a href="#" class="uppercase white">nos conditions d'utilisation</a>
                </li>
                <li><a href="#" class="uppercase white">mentions légales</a>
                </li>
                <li><a href="#" class="uppercase white">politique</a>
                </li>
                <li><a href="#" class="uppercase white">presse</a>
                </li>
            </ul>
            <div class="col-md-4 col-xs-12 col-sm-3">
                <form class="newsletter_inscription">
                    <h4 class="bold size_20 txt_yellow uppercase">
                        suivez nos aventures
                    </h4>
                    <input type="text" class="newsletter_input" value="" placeholder="Entrez votre email" />
                    <input type="submit" class="btn_inscription" value="S'inscrire" />
                </form>
                <form>
                    <h4 class="bold size_20 txt_yellow uppercase">
                        recherche
                    </h4>
                    <input type="search" placeholder="Tapez votre recherche" name="the_search" class="search_input"><i class="fa fa-search size_20 white"></i>
                </form>
                <div class="reseaux_sociaux">
                    <a href="#" target="_blank" class="rs-link facebook">
                        <img src="{{ asset('images/icone_facebook.png') }}" alt="" />
                    </a>
                    <a href="#" target="_blank" class="rs-link twitter">
                        <img src="{{ asset('images/icone_twitter.png') }}" alt="" />
                    </a>
                    <a href="#" target="_blank" class="rs-link googleplus">
                        <img src="{{ asset('images/icone_google.png') }}" alt="" />
                    </a>
                    <a href="#" target="_blank" class="rs-link youtube">
                        <img src="{{ asset('images/icone_youtube.png') }}" alt="" />
                    </a>
                </div>
                <img src="images/modepaiement.png" alt="" class="mode_paiement" />
            </div>
            <div class="clearfix"></div>
            <hr/>
            <img src="{{ asset('images/logo_footer.png') }}" alt="" class="logo_footer" />
            <span class="copyright uppercase white">
                &copy; wanderlust travel - 2015
            </span>

            <div class="clearfix"></div>
        </footer>
    </div>

    <!--script-->

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/scrollto.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <!--<script type="text/javascript" src="{{ asset('js/script02.js') }}"></script>-->

</body>

</html>