<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>Wanderlust</title>

    <!-- css-->
    <!--<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/carousel.css" />-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    <!-- fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/modernizer.js') }}"></script>

</head>


<body>
    <div id="page">
        <div id="checkout_devis" class="">

            <!-- faire un include de cette partie commune -->
            <nav class="navbar navbar-fixed-top desktop">
                <a href="#" class="logo"></a>
                <ul>
                    <li class="uppercase"><a href="{{ path('index') }}" class="no_bg">accueil</a>
                    </li>
                    <li class="uppercase submenu_voyage">
                        <a href="#">voyages</a>
                    </li>
                    <li class="uppercase submenu_carnets"><a href="#">carnets de voyages</a>
                    </li>
                    <li class="uppercase"><a href="{{ path('actualites') }}">actualités</a>
                    </li>
                    <li class="uppercase"><a href="#">contact</a>
                    </li>
                    <li class="uppercase"><a href="#" class="btn_connexion no_bg">connexion</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </nav>

            <nav class="navbar navbar-fixed-top mobile">
                <a href="#menu" id="toggle"><span></span></a>
                <div class="clearfix"></div>
                <ul>
                    <li class="uppercase"><a href="{{ path('index') }}" class="no_bg">accueil</a>
                    </li>
                    <li class="uppercase"><a href="#">voyages</a>
                    </li>
                    <li class="uppercase"><a href="#">carnets de voyages</a>
                    </li>
                    <li class="uppercase"><a href="{{ path('actualites') }}">actualités</a>
                    </li>
                    <li class="uppercase"><a href="#">contact</a>
                    </li>
                    <li class="uppercase"><a href="#" class="btn_connexion no_bg">connexion</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </nav>

            <!-- sous menu hover voyage -->
            <div class="sous-menu_voyages sub-menu">
                <div class="col-md-8">
                    <h2>NOS PROCHAINS VOYAGES</h2>
                    <div class="col-md-6">
                        <img src="{{ asset('images/vignette_ssmenu_01.jpg') }}" alt="" />
                        <div>
                            <h3>HIMALAYA</h3>
                            <a href="#" class="fiche_voyage_nav">Fiche voyage</a>
                            <a href="#" class="galerie_nav">Galerie</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('images/vignette_ssmenu_02.jpg') }}" alt="" />
                        <div>
                            <h3>GROENLAND</h3>
                            <a href="{{ path('fiches_voyage') }}" class="fiche_voyage_nav">Fiche voyage</a>

                            <a href="#" class="galerie_nav">Galerie</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <a href="#" class="tous_voyages"> voir tous nos voyages</a>
                </div>
                <div class="col-md-4">
                    <h3>
                        La séléction<br/>
                        Carnets de voyages du mois
                    </h3>
                    <p class="carnet01">
                        <span class="titre">ARGENTINE</span><br/>
                        "Le rêve absolue"<br/>
                        <span class="auteur">Par Marion Laval</span><br/>
                        <a href="#">Voir ce carnet</a>
                    </p>
                    <p class="carnet02">
                        <span class="titre">MADAGASCAR</span><br/>
                        "Un voyage innatendu"<br/>
                        <span class="auteur">Par Marianne Levaux</span><br/>
                        <a href="#">Voir ce carnet</a>
                    </p>
                </div>
            </div>
            <!-- fin sous menu hover voyage--> 

            <!-- sous menu hover carnets -->
            <div class="sous-menu_carnets sub-menu">
                <div class="col-md-8 ">
                    <h2>NOS CARNETS VOYAGES</h2>
                    <div class="col-md-6">
                        <img src="{{ asset('images/img_extrait_01.png') }}" alt="" />
                        <div>
                            <h3>MADAGASCAR</h3>
                            <span>Retour aux sources</span><br/>
                            <span class="auteur">Par Adam Tosco</span>
                            <a href="#" class="fiche_voyage_nav">Voir le carnet</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('images/img_extrait_02.png') }}" alt="" />
                        <div>
                            <h3>PÉROU</h3>
                            <span>Un voyage parfait</span><br/>
                            <span class="auteur">Par Eléonore Lefluve</span>
                            <a href="#" class="fiche_voyage_nav">Voir le carnet</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <a href="#" class="tous_voyages"> voir tous nos carnets</a>
                </div>
                <div class="col-md-4">
                    <h3>
                        La séléction<br/>
                        Carnets de voyages du mois
                    </h3>
                    <p class="carnet01">
                        <span class="titre">ARGENTINE</span><br/>
                        "Le rêve absolue"<br/>
                        <span class="auteur">Par Marion Laval</span><br/>
                        <a href="#">Voir ce carnet</a>
                    </p>
                    <p class="carnet02">
                        <span class="titre">MADAGASCAR</span><br/>
                        "Un voyage innatendu"<br/>
                        <span class="auteur">Par Marianne Levaux</span><br/>
                        <a href="#">Voir ce carnet</a>
                    </p>
                </div>
            </div>
            <!-- fin sous menu hover carnets--> 
            <!-- fin de la partie commune à mettre en include -->    


            <header>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Réservation</h1>
                    </div>
                </div> 
            </header>
            <div class="clearfix"></div>
            <section>


                <!--<div class="step"> <span>1</span> <span>2</span> <span>3</span> <span>4</span></div>-->
                <!-- multistep form -->
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Récapitulatif</li>
                        <li>Connexion</li>
                        <li>Participants</li>
                        <li>Paiement</li>
                        <li>Confirmation</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2>Récapitulatif de votre réservation</h2>
                        <div class="float-left">
                            <h3>
                                <i class="fa fa-plane"></i>
                                <span>
                                    Circuit en Mongolie <br/>
                                    10 Jours / 9 Nuits
                                </span>
                            </h3>
                            <ul>
                                <li>Participants : 2 adultes</li>
                                <li>Du 10 Mai 2015 au 20 Mai 2015</li>
                                <li>Transport inclus</li>
                                <li>Départ : Paris - Aéroport Charles de Gaulle</li>
                                <li>Vol  : 1ère classe - Départ </li>
                                <li>Départ : Comores - Aéroport international Gengis Khan</li>
                                <li>Vol  : 1ère classe</li>
                                <li>Logement chez l'habitant</li>
                                <li>Nourrit chez l'habitant</li>
                            </ul>
                        </div>
                        <img src="{{ asset('images/checkout_mongolie.jpg') }}" alt="" class="float-left"/>
                        <input type="button" name="next" class="next action-button" value="Continuer &#8594;" />
                        <!--<h2 class="fs-title">Create your account</h2>
                        <h3 class="fs-subtitle">This is step 1</h3>
                        <input type="text" name="email" placeholder="Email" />
                        <input type="password" name="pass" placeholder="Password" />
                        <input type="password" name="cpass" placeholder="Confirm Password" />
                        -->
                    </fieldset>
                    <fieldset>
                        <h2>Connexion à votre compte</h2>
                        <h3 class="fs-subtitle">Your presence on the social network</h3>
                        <input type="text" name="twitter" placeholder="Twitter" />
                        <input type="text" name="facebook" placeholder="Facebook" />
                        <input type="text" name="gplus" placeholder="Google Plus" />
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Continuer &#8594;" />
                    </fieldset>
                    <fieldset>
                        <h2>Participants</h2>
                        <h3 class="fs-subtitle">We will never sell it</h3>
                        <input type="text" name="fname" placeholder="First Name" />
                        <input type="text" name="lname" placeholder="Last Name" />
                        <input type="text" name="phone" placeholder="Phone" />
                        <textarea name="address" placeholder="Address"></textarea>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Continuer &#8594;" />
                    </fieldset>
                    <fieldset>
                        <h2>Paiement</h2>
                        <h3 class="fs-subtitle">We will never sell it</h3>
                        <input type="text" name="fname" placeholder="First Name" />
                        <input type="text" name="lname" placeholder="Last Name" />
                        <input type="text" name="phone" placeholder="Phone" />
                        <textarea name="address" placeholder="Address"></textarea>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Continuer &#8594;" />
                    </fieldset>
                    <fieldset>
                        <h2>Confirmation</h2>
                        <h3 class="fs-subtitle">We will never sell it</h3>
                        <input type="text" name="fname" placeholder="First Name" />
                        <input type="text" name="lname" placeholder="Last Name" />
                        <input type="text" name="phone" placeholder="Phone" />
                        <textarea name="address" placeholder="Address"></textarea>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Submit" />
                    </fieldset>
                </form>



            </section>





            <!-- FOOTER -->


            <div class="clearfix"></div>
            <footer>
                <a href="#" class="fleche_top"></a>
                <ul class="footer_liens col-md-4 col-sm-3">
                    <li><a href="#" class="uppercase white">accueil</a>
                    </li>
                    <li><a href="#" class="uppercase white">voyages</a>
                    </li>
                    <li><a href="#" class="uppercase white">carnets de voyages</a>
                    </li>
                    <li><a href="#" class="uppercase white">actualité</a>
                    </li>
                    <li><a href="#" class="uppercase white">contact</a>
                    </li>
                    <li><a href="#" class="uppercase white">connexion</a>
                    </li>
                </ul>
                <ul class="footer_liens col-md-4 col-sm-3">
                    <li><a href="#" class="uppercase white">nos valeurs</a>
                    </li>
                    <li><a href="#" class="uppercase white">nos conditions d'utilisation</a>
                    </li>
                    <li><a href="#" class="uppercase white">mentions légales</a>
                    </li>
                    <li><a href="#" class="uppercase white">politique</a>
                    </li>
                    <li><a href="#" class="uppercase white">presse</a>
                    </li>
                </ul>
                <div class="col-md-4 col-xs-12 col-sm-3">
                    <form class="newsletter_inscription">
                        <h4 class="bold size_20 txt_yellow uppercase">
                            suivez nos aventures
                        </h4>
                        <input type="text" class="newsletter_input" value="" placeholder="Entrez votre email" />
                        <input type="submit" class="btn_inscription" value="S'inscrire" />
                    </form>
                    <div class="reseaux_sociaux">
                        <a href="#" target="_blank" class="rs-link facebook">
                            <img src="{{ asset('images/icone_facebook.png') }}" alt="" />
                        </a>
                        <a href="#" target="_blank" class="rs-link twitter">
                            <img src="{{ asset('images/icone_twitter.png') }}" alt="" />
                        </a>
                        <a href="#" target="_blank" class="rs-link googleplus">
                            <img src="{{ asset('images/icone_google.png') }}" alt="" />
                        </a>
                        <a href="#" target="_blank" class="rs-link youtube">
                            <img src="{{ asset('images/icone_youtube.png') }}" alt="" />
                        </a>
                    </div>
                    <img src="{{ asset('images/modepaiement.png') }}" alt="" class="mode_paiement" />
                </div>
                <div class="clearfix"></div>
                <hr/>
                <img src="{{ asset('images/logo_footer.png') }}" alt="" class="logo_footer" />
                <span class="copyright uppercase white">
                    &copy; wanderlust travel - 2015
                </span>

                <div class="clearfix"></div>
            </footer>
        </div>
    </div>

    <!--script-->

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/scrollto.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <!-- jQuery -->
    <script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <!-- jQuery easing plugin -->
    <script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
    <script>
        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating)
                return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({'transform': 'scale(' + scale + ')'});
                    next_fs.css({'left': left, 'opacity': opacity});
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating)
                return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({'left': left});
                    previous_fs.css({'transform': 'scale(' + scale + ')', 'opacity': opacity});
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".submit").click(function () {
            return false;
        })

    </script>
</body>

</html>