{% extends '::base.html.twig' %}
{% block titre %}Pics{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/lightbox/js/prototype.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lightbox/js/scriptaculous.js?load=effects,builder') }}"></script>
<script type="text/javascript" src="{{ asset('js/lightbox/js/lightbox.js') }}"></script>
{% endblock %}
{% block css %}
{{ parent() }}
<style>
        ul li{
            list-style:none;
        }
        textarea{
            width:98.5%;
            height:200px;
            resize:none;
        }
        input{
            width:98.5%;
        }
</style>
{% endblock %}
{% block contenu %}
{% include 'SitePageBundle:include:flash.html.twig' %}
<div class="well">
    <div class="page-header"><h2>{{ album.nom }}</h2></div>
    <center>
    {% for v in photos %}
        <a href="{{ asset('albums/') }}{{ album.slug }}/{{ v }}" rel="lightbox[roadtrip]" ><img src="{{ asset('albums/') }}{{ album.slug }}/{{ v }}" alt="{{ v }}" title="{{ v }}" style="max-height:150px;max-width:150px;margin-left:5px;margin-bottom:10px;" class="img-polaroid"/></a>
    {% else %}
        <p>Aucune photo !</p>
    {% endfor %}
    </center>
</div>

<div class="well">
    <div class="page-header"><h2>Commenter l 'album</h2></div>
    <div class="fb-comments" data-href="{{ path('album_editer', {'id': album.id } ) }}" data-width="900" data-num-posts="10" data-colorscheme="dark"></div>
</div>
{% endblock %}