{% extends '::base.html.twig' %}
{% block titre %}Musiques{% endblock %}
{% block contenu %}
<style>
    ul li{
        color:red;
    }
    hr{
        margin-top:0;
    }
    select{
        width:99%;
    }
    h4{
        margin-top:0;
    }
    textarea{
        width:99%;
        height:75px;
        resize:none;
    }
    input{
        width:99%;
    }
</style>
{% include 'SitePageBundle:include:flash.html.twig' %}
{% for m in musiques %}
    <div class="well">
        {% if loop.first %}
            <div class="page-header">
                <h3>Musiques 
                {% if app.session.get('rang') == 'Administrateur' %}
                    <small><a href="{{ path('musique_editer') }}">ajouter une musique</a></small>
                {% endif %}
                </h3>
            </div>
        {% endif %}
        <h4>{{ m.titre }}<small> - Le {{ m.date|date('d/m/Y à G\\hi') }}
        {% if app.session.get('rang') == 'Administrateur' %}
            <a href="{{ path('musique_supprimer', { 'id': m.id }) }}"><i class="icon-remove"></i></a><a href="{{ path('musique_editer',{ 'id': m.id }) }}"><i class="icon-pencil icon-white"></i></a>
        {% endif %}
        </small></h4>
        <p>{{ m.code|raw }}</p>
        {% if m.telechargement != null %}
            <p><a href="{{ asset('musique/') }}{{ m.telechargement }}" title="Musique">télécharger</a></p>
        {% endif %}
        <p>{{ m.description|raw }}</p>
        {{ render(controller('SiteMediaBundle:Musique:commentaire', {'id': m.id } )) }}
    </div>
{% else %}
    <div class="well">
        <div class="page-header">
            <h3>Musiques 
            {% if app.session.get('rang') == 'Administrateur' %}
                <small><a href="{{ path('musique_editer') }}">ajouter une musique</a></small>
            {% endif %}
            </h3>
        </div>
        <center><p>Aucune musique actuellement.</p></center>
    </div>
{% endfor %}
</div>
{% endblock %}