{% extends '::base.html.twig' %}
{% block titre %}Videos{% endblock %}
{% block contenu %}
<style>
    ul li{
        color:red;
    }
    hr{
        margin-top:0;
    }
    select{
        width:99%;
    }
    h4{
        margin-top:0;
    }
    textarea{
        width:99%;
        height:75px;
        resize:none;
    }
    input{
        width:99%;
    }
</style>
{% include 'SitePageBundle:include:flash.html.twig' %}
{% for v in videos %}
    <div class="well">
        {% if loop.first %}<div class="page-header"><h3>Vidéos<a href="{{ path('video_editer') }}">
            {% if app.session.get('rang') == 'Administrateur' %}
                <small>ajouter une video</small>
            {% endif %}
            </a></h3></div>
        {% endif %}
        <h4>{{ v.titre }}<small> - Le {{ v.date|date('d/m/Y à G\\hi') }}
        {% if app.session.get('rang') == 'Administrateur' %}
            <a href="{{ path('video_supprimer', { 'id': v.id }) }}"><i class="icon-remove"></i></a> <a href="{{ path('video_editer',{ 'id': v.id}) }}"><i class="icon-pencil icon-white"></i></a>
        {% endif %}
        </small></h4>
            <center><br />{{ v.code|raw }}</center>
            <br /><p>{{ v.description|raw }}</p><br />
        {{ render(controller('SiteMediaBundle:Video:commentaire', {'id': v.id } )) }}
    </div>
{% else %}
    <div class="well">
        <div class="page-header">
            <h3>Vidéos {% if app.session.get('rang') == 'Administrateur' %}<small><a href="{{ path('video_editer') }}">ajouter une video</a></small>{% endif %}</h3>
        </div>
        <center><p>Aucune vidéo actuellement.</p></center>
    </div>
{% endfor %}
{% endblock %}